nav{
    color: white;
    height: 50px;
    border-bottom: 1px solid white;
}
.con{
    background-image: url(doctors.jpg);
    height: 700px;
    width: auto;
    background-size: 100% 100%;
}
.con1{
    height: 80%;
    width: 45%;
    float: left;
    color: white;
    font-size: 30px;
    
}
.con2{
    height: 80%;
    width: 55%;
    float: right;
}
.p{
    margin-top: 100px;
    margin-left: 100px;
    text-align: justify;
}
small{
    margin-right: 20px;
    margin-top: 5px;
}
.cont1{
    height: 545px;
    width: 100%;
}
.tab tr td{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.tab tr td input{
    border-radius: 10px;
    border: 1px solid white;
}
.container{
    height: 300px;
    width: 100%;
}
.col2{
    height: 300px;
    border-radius: 10px;
    background-image: url(back.jpg);
    background-size: 100% 100%;
}
.col3{
    height: 30px;
    width: auto;
    color: white;
}
.row1{
    width: 1360px;
}
.footer{
    color: white;
}
footer{
    color: white;
    margin-top: 205px;
}
.col6{
    padding-bottom: 10px;
    color: white;
}
.td{
    border-bottom: none;
}
.txt{
    text-decoration: none;
}
a{
    text-decoration: none;
  }
.col10{
    background-image: url(2.jpg);
    background-size: 100% 100%;
}
.col{
    height: 500px;
    background-image: url(about.jpg);
    background-size: 100% 100%;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}
span{
    color: red;
}